html, body {
  width: 100%;
  height: 100%;
  text-align: center;
  overflow-x: hidden;
}

html, body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-weight: normal;
  position: relative;
  padding: 20px;
  z-index: 1;
}
.bg {
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.7;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.title, .subtitle {
  position: relative;
}
h1 {
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: gold;
  margin: 40px auto 25px auto;
  font-size: 3.5em;
  width: auto;
}

h3 {
  color: gold;
  margin: 10px auto 30px auto;
  font-size: 2em;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -1px;
}

h1.main {
  -webkit-animation: colorMain 3s infinite linear alternate;
}

h3.main {
  -webkit-animation: colorSec 2.5s infinite linear alternate;
}

h1.shadow {
  left: 6px;
  bottom: 6px;
}
h3.shadow {
  left: 5px;
  bottom: 5px;
}
h1.shadow, h3.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: -webkit-linear-gradient(92deg, #032887, #032887);
  z-index: -1;
}
@keyframes colorMain {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
  }
}

@keyframes colorSec {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
  }
}

.buttons {
  position: absolute;
  display: flex;
  justify-content: center;
  padding: 50px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 160px;
}

button {
  width: 230px;
  height: 60px;
  outline: none;
  font-family: 'Press Start 2P', cursive;
  transform: rotateY(30deg);
  font-size: 1.5em;
  text-align: center;
  box-shadow: 7px -7px 0px #032887;
  border: none;
  cursor: pointer;
}
.generate-btn {
  background-color: tomato;
  color: gold;
}

.download-btn {
  background-color: deeppink;
  color: gold;
}

canvas {
  margin: 60px auto 50px auto;
}

@media (max-width: 460px) {
  h1 {
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 12px;
  }
  h3 {
    font-size: 1em;
    margin-bottom: 12px;
  }
  .buttons {
    padding: 5px;
    height: 70px;
  }
  button {
    width: 48%;
    height: 55px;
    font-size: 1em;
  }
  canvas {
    max-width: 100%;
  }
}

@media (hover: hover) {
  .generate-btn:hover {
    background-color: pink;
    color: tomato;
  }

  .download-btn:hover {
    background-color: gold;
    color: hotpink;
  }
}

.download-btn:active, .generate-btn:active {
  background-color: purple;
  color: greenyellow;
}
